
.top_row {
    padding: 20px 20px 50px 50px;
}
.bottom_row {
    padding: 20px 20px 50px 50px;
}
.column1 {
    margin-left: 10px;
}
.column2, .column3 {
    margin-left: 90px;
}
.column4 {
    margin-left: 90px;
}

img {
    display: inline;
}