
.buttons {
    padding: 10px;
}
.animal_image {
    display: inline;
    margin-left: 300px;
}
.memory_image {
    display: inline;
    
}
.animal_button {
    margin-left: 320px;
}
.memory_button, .memory_image {
    margin-left: 350px;
}
.liza_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
